.app {
  padding: 6px;
  height: 100vh;
  max-height: 100vh;
  border: none;
}

#map,
#mapgame {
  height: fit-content;
  height: 90vh;
  border: none;
}

.app .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head h4 {
  font-size: 18px;
}
.head a,
.head button {
  font-size: 18px;
  padding: 3px 10px;
  border-radius: 25px;
  border: 1px solid gray;
  background-color: whitesmoke;
  margin-right: 2px;
  text-decoration: none;
  color: black;
}
.head p {
  display: inline;
}

.load {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
