.app {
  padding: 6px;
  height: 100vh;
  max-height: 100vh;
  border: none;
  position: relative;
  background-color: #fff;
}

#map,
#mapgame {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
  border: none;
}

.app .head {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.load {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.am-modal-title {
  line-height: 22px !important;
}

.am-modal-body {
  padding: 0 !important;
}
